<!-- <div>
 <h1>ROCK, PAPER, SCISSORS</h1>
</div> -->
<div>
 <h2>Choose your shape <%= @turn.name %></h2>
</div>
<div>
  <form method="post" action="/play">
  <input type="submit" name="shape" value="ROCK">
  <input type="submit" name="shape" value="PAPER">
  <input type="submit" name="shape" value="SCISSORS">
  <input type="submit" name="shape" value="LIZARD">
  <input type="submit" name="shape" value="SPOCK">
</div>

<% if @turn.shape %>
  <div>
    <h2>Your shape is <%= @turn.shape.to_s.upcase %></h2>
  </div>
  <div id="opponent">
    Opposition shape is <%= @turn.opposition_shape.to_s.upcase %>
  </div>
  <div>
    <% if @turn.winner? %>
     You win!
    <% elsif @turn.draw? %>
     draw!
    <% elsif @turn.lose? %>
     You lose!
    <% end %>
  </div>
<% end %>


